.container {
    width: 1600px;
    margin: auto
}

.product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}
.card {
    padding: 20px;
    margin: 50px;
}
.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.card-text {
    cursor: pointer;
    margin-bottom: 20px;
}
.btns {
    display: flex;
    position: relative;
    margin-left: 38px;
}
.btns button {
    margin-right: 5px;
    margin-top: 20px;
}
.btn {
    background-color: #084e7c;
    border:#084e7c
}